/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height for vertical centering */
    background-color: #A69080;
}

/* Background Image Styling */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/bg.jpeg') no-repeat 250px 0px;
    background-size: 95%;
    filter: blur(5.5px);
    z-index: -1;  /* Ensure the background is behind the main content */
}

/* Header Styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3E362E;
    padding: 10px 20px;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Styling for the left and right logos in the header */
.logo-left, .logo-right {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

/* Header Text Styling */
.header-text {
    text-align: center;
    color: #AC8968;
    flex-grow: 1;
}

.header-text h2 {
    margin: 0;
    font-family: 'Lohit Tamil', serif;
    font-size: 32px;
}

/* Sidebar Styling */
.sidebar {
    background-color: #865D36;
    width: 250px;
    position: fixed;
    top: 140px;
    left: 0;
    padding: 20px 15px;
    box-sizing: border-box;
    height: calc(100% - 140px);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    display: block;
    width: 170px;
    padding: 15px;
    background-color: #93785B;
    text-decoration: none;
    color: #F5F5F5;
    font-weight: bold;
    border: 1px solid #3E362E;
    border-radius: 15px;
    text-align: center;
}

.sidebar ul li a:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

/* Centered Calendar Container Styling */
.calendar-container {
    padding: 20px;
    max-width: 60%;
    background-color: #AC8968;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Calendar Iframe Styling */
.calendar-section iframe {
    width: 2000px; /* Full width within container */
    height: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer Styling */
.footer {
    text-align: right;
    padding: 15px 20px;
    background-color: #3E362E;
    color: #AC8968;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px); /* Extend across the full width minus sidebar */
    box-sizing: border-box;
    z-index: 2;
}
